body{
    background: linear-gradient(to top,rgba(36, 27, 27, 0),rgb(73, 24, 24));
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h1{
    color: white;
    font-family: "press Start 2P";
    font-size: 45px;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 10px;
    border-right-width: 10px;
    padding: 12px;
    border-color: silver;
    text-align: center;
}

p{
    background-color: brown;
    color: white;
    font-family: "Garamond", "sans-serif";
    font-size: 17px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    border-color: gold;
    padding: 10px;
}

#p2{
    border-style: outset;
    border-width: 4px;
    border-radius: 0px;
}

button{
    width: 350px;
    height: 60px;
    font-size: larger;
    border-width: 4px;
    border-color: gold;
    text-align: center;
    color: gold;
    
}


.container {
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    justify-content: center;

}